.forget-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.forget-password-box {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.lock-icon {
  font-size: 3rem;
  color: #90caf9; // Light blue for icon
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reset-password-button {
  margin-top: 1rem;
}

.link-hover-effect {
  color: #1976d2; /* Default color */
  text-decoration: none;
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.link-hover-effect:hover {
  text-decoration: underline; /* Underline on hover */
  color: #004ba0; /* Darker blue on hover */
}
